body {
    font-family: Arial, sans-serif;
    background-color: #e0a800;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.btn-salvar {
    background-color: #ffc107;
    color: white;
}

.btn-salvar:hover {
    background-color: #e0a800;
    color: white;
}

.btn-voltar {
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #ffc107;
}

.btn-voltar:hover {
    background-color: white;
    color: #ffc107;
}

.icone {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}