body {
    font-family: Arial, sans-serif;
    background-color: #e0a800;
}

.titulo {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.btn-salvar{
    background-color: #ffc107;
    color: white;
}

.btn-salvar:hover{
    background-color: #e0a800;
    color: white;
}